include excerpt
include ../_helpers/capitalize

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
//- && current.source !== 'about' is an ugly hack
//- cause title gets passed to it About but I dunno why not in Blog or Portfolio?
//- Maybe cause they have children?
title #{(current.source === 'index' && current.path[0] === 'index') ? author + ' | ' + site_title : (title) ? title + ' | ' + author : capitalize(current.path[0]) + ' | ' + author }

meta(name="viewport", content="width=device-width")
meta(name="description",content=description)
link(rel="alternate" type="application/rss+xml" title="Ahmed El Gabri | Feed" href="//gabri.me/feed/")

link(rel="canonical", href=(current.source === 'index' && current.path[0] === 'index') ? "#{site_url}" : "#{site_url}/#{current.path.join('/')}")
link(rel="dns-prefetch", href="//platform.twitter.com")
link(rel="dns-prefetch", href="//www.google-analytics.com")
link(rel="dns-prefetch", href="//p.twitter.com")
link(rel="dns-prefetch", href="//cdn.api.twitter.com")
link(rel="dns-prefetch", href="//use.typekit.net")

meta(name="viewport", content="initial-scale=1, width=device-width")
link(rel="stylesheet",href="/assets/css/style.css")
link(type="text/plain",rel="author",href="https://plus.google.com/101787568188227600845/")
link(type="text/plain",rel="author",href="humans.txt")


link(rel="shortcut icon",href="/favicon.png")
meta(name="application-name", content="Gabri.me")
link(name="msapplication-TileImage",href="/assets/img/style/ms-logo.png")
link(name="msapplication-TileColor",content="#1f2325")

meta(name="theme-color", content="#1f2325")

link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/apple-touch-icon-114x114-precomposed.png")
link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/apple-touch-icon-72x72-precomposed.png")
link(rel="apple-touch-icon-precomposed", href="/apple-touch-icon-57x57-precomposed.png")
link(rel="logo", type="image/svg", href="/assets/img/style/logo.svg")
meta(name="apple-mobile-web-app-title", content="Gabri.me")
link(rel="author", href="https://plus.google.com/101787568188227600845/posts")

//- G+
meta(itemprop="name", content= (current.source === 'index' && current.path[0] === 'index') ? "#{author} | #{site_title}" : (title) ? "#{title} | #{author}" : "#{capitalize(current.path[0])} | #{author}" )
meta(itemprop="description", content= (current.path.length >= 2 && current.path[0] === 'blog') ? excerpt(partial(current.source)) : "#{author} | #{site_title}" )
meta(itemprop="image", content= (current.source === 'index' && current.path[0] === 'index' || !thumb) ? "/assets/img/style/fb-image.png" : "/assets/img/content/#{thumb}")

//- FB Open Graph meta tags
meta(property="og:title", content= (current.source === 'index' && current.path[0] === 'index') ? "#{author} | #{site_title}" : (title) ? "#{title} | #{author}" : "#{capitalize(current.path[0])} | #{author}" )
meta(property="og:description", content= (current.path.length >= 2 && current.path[0] === 'blog') ? excerpt(partial(current.source)) : "#{author} | #{site_title}" )

meta(property="og:url", content= (current.source === 'index' && current.path[0] === 'index') ? "#{site_url}" : "#{site_url}/#{current.path.join('/')}")
meta(property="og:image", content= (current.source === 'index'&& current.path[0] === 'index' || !thumb) ? "/assets/img/style/fb-image.png" : "/assets/img/content/#{thumb}")
meta(property="og:type", content=(current.path.length >= 2 && current.path[0] === 'blog') ? "article" : "website")

//- Twitter Cards
meta(property="twitter:account_id", content="#{twitter_id}")
meta(name="twitter:card", content="summary")
meta(name="twitter:creator", content="@AhmedElGabri")
meta(name="twitter:url", content= (current.source === 'index' && current.path[0] === 'index') ? "#{site_url}" : "#{site_url}/#{current.path.join('/')}")

meta(name="twitter:title", content= (current.source === 'index' && current.path[0] === 'index') ? "#{author} | #{site_title}" : (title) ? "#{title} | #{author}" : "#{capitalize(current.path[0])} | #{author}" )
meta(name="twitter:image", content="/assets/img/style/logo.svg")
meta(name="twitter:domain", content="#{site_url}")

script(src="//use.typekit.net/ylt4jzt.js")
script.
  try{Typekit.load();}catch(e){}
script(src="/assets/js/libs/modernizr.js")
<!--[if lt IE 9]>
script(src="//ajax.googleapis.com/ajax/libs/mootools/1.4.1/mootools-yui-compressed.js")
script(src="/assets/js/libs/selectivizr.js")
script(src="/assets/js/libs/respond.min.js")
<![endif]-->

| <!--[if gt IE 9 ]>
|   <script>
|     if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
|       var msViewportStyle = document.createElement("style");
|       msViewportStyle.appendChild(
|         document.createTextNode(
|           "@-ms-viewport{width:auto!important}"
|         )
|       );
|       document.getElementsByTagName("head")[0].
|         appendChild(msViewportStyle);
|     }
|   </script>
| <![endif]-->
