---
import {getCollection} from 'astro:content'
import {format} from 'date-fns'
import BaseLayout from '../layouts/BaseLayout.astro'
import ContentLayout from '../components/ContentLayout.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Contact from '../components/Contact.astro'
import List from '../components/List.astro'
import H from '../components/H.astro'
import siteMeta from '../config/siteMeta'

const {talks, interviews} = siteMeta

const posts = await getCollection('posts', ({data}) => {
	return data.published !== false
})

const sortedPosts = posts.sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
)

const talksAndInterviews = [
	{
		date: '2024-03-03',
		item: `<div class="flex items-center">
			<svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 24 24"><path d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"/></svg>
			<div class="mr-2">
				<a href="${interviews.ahmedelemam[1]}" target="_blank" class="after:content-['_↗'] lg:p-2" rel="noreferrer noopener">
					Staff Engineering path (Arabic)
				</a>
			</div>
		</div>`,
	},
	{
		date: '2021-01-23',
		item: `<div class="flex items-center">
			<svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 24 24"><path d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z"/></svg>
			<div class="mr-2">
				<a href="${interviews.nullplusplus[1]}" target="_blank" class="after:content-['_↗'] lg:p-2" rel="noreferrer noopener">
					Null++ Podcast (Arabic)
				</a>
			</div>
		</div>`,
	},
	{
		date: '2018-12-17',
		item: `<div class="flex items-center">
			<svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 24 24"><path d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/></svg>
			<div class="mr-2">
				<a href="${interviews.devtomanager[1]}" target="_blank" rel="noreferrer noopener" class="after:content-['_↗'] lg:p-2">
					DevToManager Interview
				</a>
			</div>
		</div>`,
	},
	{
		date: '2017-06-08',
		item: `<div class="flex items-center">
			<svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 24 24"><path d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"/></svg>
			<div class="mr-2">
				<a href="https://www.youtube.com/watch?v=${talks.AmsterdamJS[1]}" target="_blank" rel="noreferrer noopener" class="after:content-['_↗'] lg:p-2">
					Automating front-end refactoring
				</a>
				{' - '}(
				<a href="${talks.AmsterdamJS[0]}" class="after:content-['_↗'] lg:p-2" target="_blank" rel="noreferrer noopener">
					slides
				</a>
				)
			</div>
		</div>`,
	},
]

const blogPosts = sortedPosts.map((p) => ({
	date: format(p.data.date, 'yyyy-MM-dd'),
	item: `<a href="/blog/${p.slug}/" class="lg:p-2">${p.data.title}</a>`,
}))
---

<BaseLayout>
	<ContentLayout>
		<Header />
		<H level="2" extra="👋">Hi.</H>
		<p class="mb-6 text-xl tracking-tight">
			I'm a software engineer, specializing in front-end, with over a decade
			of experience in building products & leading/building teams.
		</p>
		<p class="mb-6 text-xl tracking-tight">
			Currently based in Amsterdam, the Netherlands & working as Principal
			Engineer at{' '}
			<a target="_blank" rel="noreferrer noopener" href="http://miro.com">
				Miro
			</a>.
		</p>

		<Contact />
	</ContentLayout>

	<ContentLayout>
		<List title="Talks & Interviews" posts={talksAndInterviews} />
	</ContentLayout>

	<ContentLayout>
		<List title="Blog" posts={blogPosts} />
		<Footer />
	</ContentLayout>
</BaseLayout>
