---
interface Props {
	level: '1' | '2' | '3' | '4' | '5' | '6'
	class?: string
	style?: Record<string, string>
}

const {level = '1', class: className, style} = Astro.props

const styles: Record<string, string> = {
	'1': 'text-2xl',
	'2': 'text-xl',
	'3': 'text-lg',
	'4': 'text-base',
	'5': 'text-base',
	'6': 'text-base',
}

const classes = `mb-4 font-bold text-neutral-900 dark:text-neutral-100 ${styles[level]} ${className || ''}`
---

{level === '1' && <h1 class={classes} style={style}><slot /></h1>}
{level === '2' && <h2 class={classes} style={style}><slot /></h2>}
{level === '3' && <h3 class={classes} style={style}><slot /></h3>}
{level === '4' && <h4 class={classes} style={style}><slot /></h4>}
{level === '5' && <h5 class={classes} style={style}><slot /></h5>}
{level === '6' && <h6 class={classes} style={style}><slot /></h6>}
