extends ../_layout

block content
  if current.path[0] === 'portfolio' && current.source !== 'index'
    include ../_partials/portfolio-nav
    div.mod-2thirds.centered.text-content
      h2 #{title}

      if foor
        for link, name in foor
          p For: <a href="#{link}" onclick="_gaq.push(['_trackEvent', 'outbound-article', '#{link}', '#{name}']);" target="_blank"> #{name} </a>
      if roles
        p.roles
          b Role:
          for role in roles
            //- Check a cleaner way to do the spaces here
            span= (roles.length === roles.indexOf(role)+1) ? " " + role : " "+role+", "

      if url
        a.btn(target="_blank", href="#{url}") Visit Website
          span(data-icon="▶", aria-hidden="true")
      else
        span.btn.offline Offline

    if imgs
      figure.mod-full.thumb
        img(src="/assets/img/content/#{imgs[0]}", alt="")

  else
    != yield
