doctype xml
urlset(xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"
       xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")

  - var filter = /(\.html$)/;
  - var replace = /(\.html$)|(^index\.html$)/;
  - var change;
  - var priority;

  mixin tree(head, tail)
    for val, key in head
      if key !== '.git' && key !== '_data'
        if key == '_contents'
          each file in val

            if file === 'index.html' && (tail === '/' || tail === '/about/' || tail === '/portfolio/')
              - change = 'yearly'
              - priority = 1
            else
              if file === 'index.html' && tail === '/blog/'
                - change = 'weekly'
                - priority = 1
              else
                - change = 'monthly'
                - priority = 0.5

            if filter.test(file) && !/^404\.html/.test(file)
              - file = file.replace(replace, "");
                if head['_data']
                  - obj = head['_data'][file]
                  if obj && obj.date
                    - date = new Date(Date.parse(obj.date)).toISOString()
                if !date
                  - date = new Date().toISOString()

                url
                  loc= site_url + tail + file
                  lastmod= date
                  changefreq= change
                  priority= priority
        else
          mixin tree(val, tail + key + "/")

  mixin tree(public, "/")
